<app-header></app-header>
<div id="projeto">
    <h1 id="label">Novo Projeto</h1>
    <form [formGroup]="formulario">
        <div id="column1">
            <div id="tituloProjeto">
                <label for="tituloProjeto">Titulo do Projeto</label>
                <input type="text" id="titulo" formControlName="titulo"/>
            </div>
    
            <div id="areaInteresse">
                <label for="areaInteresse" id="area">Áreas de interesse</label>
                <input type="text" class="areaInteresse" id="areaInteresse" formControlName="areaInteresse"/>
            </div>
        </div>
        <div id="column2">
            <div id="descricao">
                <label for="descricaoIdeia">Descrição</label><br>
                <textarea id="textoDescricao" name="descricao" rows="4" cols="50" formControlName="descricao"></textarea>
            </div>
            <div id="buttons">
                <button type="button" id="button_cancelar">CANCELAR</button>
                <button type="button" id="button_salvar" (click)="formProjeto()">SALVAR</button>
            </div>
        </div>
    </form>
</div>
