<div class="formCadastro">
    <form [formGroup]="formulario">
        <div class="titulo">
            <p>Crie uma conta</p>
        </div>
        <div class="subTitulo">
            <p>Tipo de acesso:</p>
        </div>
        <div class="linhaCheckBox">
            <input id="checkbox" type="radio" [checked]="isAluno" (click)="changeUserType()"/>Aluno
            <input id="checkbox" type="radio" [checked]="isProfessor" (click)="changeUserType()"/>Professor
        </div>
        <input id="text" type="text" placeholder="nome" formControlName="nome"/>
        <input id="text" type="text" placeholder="link para página pessoal" formControlName="paginaPessoal" *ngIf="isProfessor"/>
        <input id="text" type="text" placeholder="curso" formControlName="curso" *ngIf="isAluno"/>
        <input id="text" type="email" placeholder="email" formControlName="email"/>
        <input id="text" type="password" placeholder="senha" formControlName="senha"/>
    </form>
    <button class="form-control" type="submit" (click)="onSubmit()">Registrar</button>
</div>

