.repo_projetos{    
    position: relative;
    top: -25px;
    background: rgba(179, 95, 95, 0.05);
}

div.titulo{
    position: relative;
    height: 120px;
}

h1.titulo{
    position: relative;
    width: 438px;
    left: 99px;
    top: 80px;
    font-family: Lato;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    color: #4F3938;
    font-weight: bolder;
}

.add_projeto{
    position: relative;
    width: 250.07px;
    height: 46.54px;
    left: 800.93px;
    border: none;
    background: #B35F5F;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    outline:none;
}

h2{
    width: 20vw;
    font-family: Lato;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: #4F3938;
    font-weight: bolder;
    padding-top: 60px;
}

div.meu_projeto{
    width: 100%;
    height: auto;    
    text-align:center;    
}

div.ideia_interesse{
    width: 100%;
    height: auto;    
    text-align:center;
}

.card {
    width: 35vw;
    height: 5vw;
    margin: 1vw 1vw;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
}

ul {
    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.card-title {
    margin: -15px;
    font-weight: bolder;
    font-size: 24px;
    color: #4F3938;
}

.card-title, p{
    font-family: Lato;    
}

p {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #4F3938;
    max-width: 500px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

a.mais_info{
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    border: none;
    background-color: #FFFFFF;
    outline: none;
    top: 40px;
    text-decoration: none;
}