#cadastrarIdeia{
    width: 85vw;
    height: 75vh;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 8vh auto;
}

#titulo{
    font-family: Lato;
    color: #4F3938;
    font-size: 48px;
    line-height: 58px;
    padding-top: 40px;
    margin-left: 48px;
    margin-bottom: 39px;
}

.cadastrarIdeia {
    position: relative;
}

#colums{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
}

label{
    font-family: Lato;
    font-size: 18px;
    color: #4F3938;
    margin-bottom: 14px;
}

input.tituloIdeia{
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(179, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    width: 540px;
    margin-top: 18px;
    padding: 5px 15px;
    color: #4F3938;
    font-family: Lato;
}

select.areaInteresse{
    display: block;
    width: 540px;
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(179, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    color: #4F3938;
    padding: 5px 15px;
}

textarea.descricaoIdeia{
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(179, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    width: 520px;
    height: 235px;
    resize: none;
    margin-top: 18px;
}

.button_salvar{
    position: absolute;
    width: 187px;
    height: 50px;
    left: 965px;
    top: 480px;
    background: #B35F5F;
    border: 1.5px solid #B35F5F;
    box-sizing: border-box;
    border-radius: 6px;
    color: #faf9f9;
}

.button_cancelar{
    position: absolute;
    width: 187px;
    height: 50px;
    left: 765px;
    top: 480px;
    background: #5E8392;;
    border: 1.5px solid #5E8392;;
    box-sizing: border-box;
    border-radius: 6px;
    color: #faf9f9;
}

input#areaInteresse{
    display: block;
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(179, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    color: #4F3938;
    width: 540px;
    height: 8vh;
    padding-left: 15px;
    font-family: Lato;
}