<app-header></app-header>
<div id="cadastrarIdeia">
    <div id="titulo">Nova Ideia</div>
    <form [formGroup]="formulario" class="cadastrarIdeia" action="" >
        <div id="colums">
            <div>
                <div class="tituloIdeia">
                    <label for="tituloIdeia">Titulo da ideia</label>
                    <input type="text" class="tituloIdeia" id="tituloIdeia" formControlName="tituloIdeia"/>
                </div>
        
                <div class="areaInteresse">
                    <label for="areaInteresse">Áreas de interesse</label>
                    <input type="text" class="areaInteresse" id="areaInteresse" formControlName="areaInteresse"/>
                </div>
            </div>
    
            <div class="descricaoIdeia">
                <label for="descricaoIdeia">Descrição</label><br>
                <textarea class="descricaoIdeia" name="descricaoIdeia" rows="4" cols="50" formControlName="descricaoIdeia"></textarea>
            </div>
        </div>

        <div id="buttons">
            <button type="button" class="button_cancelar">CANCELAR</button>
            <button type="button" class="button_salvar" (click)="onSubmit()">SALVAR</button>
        </div>
    </form>
</div>