body {
    background: rgba(179, 95, 95, 0.05);;
}


h1.titulo{
    font-family: Lato;
    font-size: 2.5em;
    color: #4F3938;
    font-weight: bolder;
    float: left;
    margin: 1em;
}

.add_ideia{
    width: 250.07px;
    border: none;
    background: #B35F5F;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    outline:none;
    float: right;
    margin: 2em;
    padding: 0.7em;
}

.add_ideia:hover {
    background-color: #b54f4f;
}

h2{
    font-family: Lato;
    font-size: 1.5em;
    color: #4F3938;
    font-weight: bolder;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.repo_ideias {
    display: flex;
	flex-direction: column;
}

div.minha_ideia{
    width: 100%;
    height: auto;    
    text-align:center;    
}

.card {
    width: 30vw;
    margin: 1vw 1vw;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
}

.card-none {
    width: 30vw;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0.8em;
}

ul {
    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

div.ideia_interesse{
    width: 100%;
    height: auto;    
    text-align:center;
}


.card-title {
    margin: -15px;
    font-weight: bolder;
    font-size: 24px;
    color: #4F3938;
}

.card-title, p{
    font-family: Lato;    
}

p {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #4F3938;
    max-width: 500px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin: auto;
}

a.mais_info{
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    border: none;
    background-color: #FFFFFF;
    outline: none;
    top: 40px;
    text-decoration: none;
}