@import './_colors.scss';

header {
    background-color: #fff;
    position: relative;
    width: 100vw;
    height: 8vh;
    top: 0px;
    left: 0px;
    border-bottom: 5px solid $main-color;
}

#logo-background {
    background-color: $main-color;
    position: absolute;
    display: flex;
    align-items: center;
    width: 8.5vh;
    height: 8.5vh;
    left: 0px;
    top: 0px;
}

#logo {
    display: block;
    margin: auto;
    width: 5vh;
}

#home-menu, #idea-menu{
    transform: translateY(-50%);
    margin: auto;
    top: 50%;
    position: absolute;
    margin: auto;
    color: $main-color;
    width: 4vh;
}
button.home-menu {
    position: absolute;
    left: 12vh;
    transform: translateY(-50%);
    margin: auto;
    top: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

p#dashboard_text {
   padding-left: 6vh; 
   color: $main-color;
}

button.home-menu:hover p#dashboard_text{
    text-decoration-line: underline;
}

button.idea-menu {
    position: absolute;
    left: 40vh;
    transform: translateY(-50%);
    margin: auto;
    top: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

p#ideas_text {
    padding-left: 6vh; 
    color: $main-color;
 }
 
 button.idea-menu:hover p#ideas_text{
    text-decoration-line: underline;
 }

.logout {
    position: absolute;
    top: 2vh;
    right: 2.25vh;
    color: gray;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    transform: translateY(-50%);
    margin: auto;
    top: 50%;
}

#logout {
    width: 4vh;
}

p#logout_text {
    padding-right: 1vh; 
    color: $gray;
 }

.logout:hover p#logout_text {
    text-decoration-line: underline;
}

button {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.25em;
}
